# Compiled class file
*.class


# Log file
logs
*.log/
/logs/log.txt

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


.idea/
*target/
*.iml
.DS_Store

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# node_modules
ethers-simple-storage-fcc/node_modules
hardhat-simple-storage-fcc/node_modules
hardhat-fund-me-fcc/node_modules

*.abi
*.bin

## 注释这个env 不提交代码到云端仓库，因此我们的数据是安全的
.env
encryptedKey.json


# Hardhat files
hardhat-simple-storage-fcc/cache
hardhat-simple-storage-fcc/artifacts

# TypeChain files
hardhat-simple-storage-fcc/typechain
hardhat-simple-storage-fcc/typechain-types

# solidity-coverage files
hardhat-simple-storage-fcc/coverage
hardhat-simple-storage-fcc/coverage.json

# Hardhat Ignition default folder for deployments against a local node
hardhat-simple-storage-fcc/ignition/deployments/chain-31337

*.txt

# Hardhat files
hardhat-fund-me-fcc/cache
hardhat-fund-me-fcc/artifacts

# TypeChain files
hardhat-fund-me-fcc/typechain
hardhat-fund-me-fcc/typechain-types

# solidity-coverage files
hardhat-fund-me-fcc/coverage
hardhat-fund-me-fcc/coverage.json

# Hardhat Ignition default folder for deployments against a local node
hardhat-fund-me-fcc/ignition/deployments/chain-31337
